@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======

@layer components {
    .header-menu > .btn {
        @apply !h-7 !min-h-[28px] !border !border-primary-border;
    }
}

@font-face {
    font-family: "GeneralSans-Regular";
    src: url("/../../public/fonts/GeneralSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-Medium";
    src: url("/../../public/fonts/GeneralSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('/../../public/GeneralSans-Semibold.woff2') format('woff2');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}
>>>>>>> c3f8bf40285fff1ddc29af8dbefdbdeda8367f27
